---
layout: default
---
<div class="container">
        <div class="row d-flex justify-content-center">
                <div class="col-10 m10">
                        <div class="card">
                                <h1 class="card-title"> My Game Projects </h1>
								<div class="col-lg-8 offset-md-2">
			<div class="row">
				{% assign count = 0 %}
				{% assign align = "left" %}
				{% for project in site.data.projects %}
				{% if count == 0 %}<div class="row">{% endif %}
					<div class="card">
						<div class="card-title"> <h2>{{project.title}}</h2></div>
						<div class="row">

						<a href="{{ site.url }}{{ site.baseurl }}/project/{{ project.directory }}/index.html">
						<img class="img-thumbnail" alt="{{ project.title }}" src="{{ site.url }}{{ site.baseurl }}/assets/img/project/{% if project.picture_path %}{{ project.picture_path }}{% else %}{{ project.directory }}{% endif %}/{{ project.preview.thumbnail }}" />
						</a>
						</div>
					</div>
				{% if count == 1 %}</div>{% endif %}
				{% assign count = count | plus: 1 %}
				{% assign align = "right" %}
				{% if count >= 2 %}
				{% assign align = "left" %}
				{% assign count = 0 %}
				{% endif %}
				{% endfor %}

				{% if count != 1 %}
			</div>
			{% endif %}

		</div>
                                {{content}}
								
                        </div>
                </div>
        </div>
		
</div>
